<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card" *ngIf="!isLoading">
  <h4 class="card-header">Current tags ({{tagArr.length}})
    <span class="pull-right small"><button class="btn btn-sm btn-success" (click)="addTag()">
      <i class="fa fa-plus-square"></i> New </button>
    </span>
  </h4>
  <div class="card-block">
    <table class="table table-bordered table-striped">
      <thead class="thead-default">
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Weight</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody *ngIf="tagArr.length === 0">
      <tr>
        <td colspan="4">There are no tags in the DB. Add a new tag below.</td>
      </tr>
      </tbody>
      <tbody>
      <tr *ngFor="let tag of tagArr">
        <td>{{tag.name}}</td>
        <td>{{tag.age}}</td>
        <td>{{tag.weight}}</td>
        <td>
          <button class="btn btn-sm btn-warning" (click)="editTag(tag._id)"><i class="fa fa-pencil"></i> Edit
          </button>
          <button class="btn btn-sm btn-danger" (click)="deleteTag(tag)"><i class="fa fa-trash"></i> Delete
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
