<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <h5 class="card-header">Posts in Tet</h5>
        <div class="card-body p-0">
          <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action flex-column align-items-start" href="#">
              <div class="d-flex w-100 justify-content-between">
                <div class="mb-1">Test post using forala</div>
                <ul class="list-inline mb-0">
                  <li class="list-inline-item">
                    <a class="text-muted" href="#">
                      <small>
                        <span class="tag-color" style="background-color: #00c4ff;"></span>Freebies
                      </small>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="text-muted" href="#">
                      <small><i class="fa fa-user fa-fw"></i> John Doe</small>
                    </a>
                  </li>
                  <li class="list-inline-item text-muted">
                    <small>4 minutes ago</small>
                  </li>
                </ul>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
