<app-toast [message]="toast.message"></app-toast>
<div class="container">
  <div class="text-center">
    <app-loading [condition]="isLoading"></app-loading>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card" *ngIf="!isLoading">
        <div class="card-header d-flex justify-content-between">
          <h6 class="mb-0">Tags <span class="badge badge-dark ml-1">{{ tagArr.length }}</span></h6>
          <button class="btn btn-primary btn-sm" (click)="addTag()">
            <i class="fa fa-plus fa-fw"></i> Create tag
          </button>
        </div>
        <div class="card-body p-0">
          <div *ngIf="tagArr.length === 0">
            <div class="p-4 text-center">
              No tags found 😥
            </div>
          </div>
          <table class="table mb-0" *ngIf="tagArr.length > 0">
            <thead class="thead-light">
              <tr>
                <th class="text-left" scope="col">Name</th>
                <th class="text-left" scope="col">Color</th>
                <th class="text-center" scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tag of tagArr">
                <td class="text-left">{{tag.name}}</td>
                <td class="text-left">{{tag.color}}</td>
                <td class="text-center">
                  <button class="btn btn-sm btn-warning" (click)="editTag(tag._id)">
                    <i class="fa fa-pencil fa-fw"></i> Edit
                  </button>
                  <button class="btn btn-sm btn-danger" (click)="deleteTag(tag)">
                    <i class="fa fa-trash fa-fw"></i> Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
