<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a routerLink="/" class="navbar-brand" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="fa fa-home"></i> Angular 7 Starter
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
              aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a routerLink="/post" class="nav-link" routerLinkActive="active"
               *ngIf="auth.loggedIn">
              <i class="fa fa-file-text fa-fw"></i> Posts
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/tag" class="nav-link" routerLinkActive="active"
               *ngIf="auth.loggedIn">
              <i class="fa fa-tags"></i> Tags
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/about" class="nav-link" routerLinkActive="active">
              <i class="fa fa-info-circle fa-fw"></i> About
            </a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a routerLink="/account/profile" class="nav-link" routerLinkActive="active"
               [routerLinkActiveOptions]="{exact:true}"
               *ngIf="auth.loggedIn">
              <i class="fa fa-user fa-fw"></i> {{auth.currentUser.firstname}}
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/account/admin" class="nav-link" routerLinkActive="active"
               [routerLinkActiveOptions]="{exact:true}"
               *ngIf="auth.loggedIn && auth.isAdmin">
              <i class="fa fa-lock fa-fw"></i> Admin CP
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/account/admin" class="nav-link" routerLinkActive="active"
               [routerLinkActiveOptions]="{exact:true}"
               *ngIf="auth.loggedIn && auth.isMod">
              <i class="fa fa-lock fa-fw"></i> Mod CP
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/account/logout" class="nav-link" routerLinkActive="active"
               [routerLinkActiveOptions]="{exact:true}"
               *ngIf="auth.loggedIn">
              <i class="fa fa-sign-out fa-fw"></i> Logout
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/account/register" class="nav-link" routerLinkActive="active"
               [routerLinkActiveOptions]="{exact:true}"
               *ngIf="!auth.loggedIn">
              <i class="fa fa-user-plus fa-fw"></i> Register
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/account/login" class="nav-link" routerLinkActive="active"
               [routerLinkActiveOptions]="{exact:true}"
               *ngIf="!auth.loggedIn">
              <i class="fa fa-sign-in fa-fw"></i> Login
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
