<div class="container my-4">
  <div class="row">
    <div class="col-md-9">
      <div class="card">
        <h5 class="card-header">Posts</h5>
        <div class="card-body p-0">
          <div class="list-group list-group-flush">
            <a routerLink="/post/view/some_id"
               class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <div class="mb-1">My New Blog Post</div>
                <ul class="list-inline mb-0">
                  <li class="list-inline-item">
                    <a href="#" class="text-muted">
                      <small><span class="tag-color" style="background-color: #00c4ff;"></span>Freebies</small>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="text-muted">
                      <small><i class="fa fa-user fa-fw"></i> John Doe</small>
                    </a>
                  </li>
                  <li class="list-inline-item text-muted">
                    <small>7 minutes ago</small>
                  </li>
                </ul>
              </div>
            </a>
            <a routerLink="/post/view/some_id"
               class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <div>Another Blog Post</div>
                <ul class="list-inline mb-0">
                  <li class="list-inline-item">
                    <a href="#" class="text-muted">
                      <small><span class="tag-color" style="background-color: #0023ff;"></span>Web Design</small>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="text-muted">
                      <small><i class="fa fa-user fa-fw"></i> John Doe</small>
                    </a>
                  </li>
                  <li class="list-inline-item text-muted">
                    <small>29 minutes ago</small>
                  </li>
                </ul>
              </div>
            </a>
            <a routerLink="/post/view/some_id"
               class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <div class="mb-1">Travel Blog Post</div>
                <ul class="list-inline mb-0">
                  <li class="list-inline-item">
                    <a href="#" class="text-muted">
                      <small><span class="tag-color" style="background-color: #00c4ff;"></span>Freebies</small>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="text-muted">
                      <small><i class="fa fa-user fa-fw"></i> John Doe</small>
                    </a>
                  </li>
                  <li class="list-inline-item text-muted">
                    <small>an hour ago</small>
                  </li>
                </ul>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <h5 class="card-header">Tags</h5>
        <div class="card-body pt-3 pb-3">
          <ul class="list-unstyled mb-0 tags-list">
            <li>
              <a href="#"><span class="tag-color" style="background-color: #0023ff;"></span>Web Design</a>
            </li>
            <li>
              <a href="#"><span class="tag-color" style="background-color: #FF4BD8;"></span>HTML</a>
            </li>
            <li>
              <a href="#"><span class="tag-color" style="background-color: #00c4ff;"></span>Freebies</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
