<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card my-4">
        <h5 class="card-header">Posts</h5>
        <div class="card-body p-0">
          <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <div class="mb-1">My New Blog Post</div>
                <small>7 minutes ago</small>
              </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <div class="mb-1">Another Blog Post</div>
                <small class="text-muted">29 minutes ago</small>
              </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <div class="mb-1">Travel Blog Post</div>
                <small class="text-muted">an hour ago</small>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card my-4">
        <h5 class="card-header">Tags</h5>
        <div class="card-body pt-3 pb-3">
          <ul class="list-unstyled mb-0 tags-list">
            <li>
              <a href="#"><span class="tag-color" style="background-color: #0023ff;"></span>Web Design</a>
            </li>
            <li>
              <a href="#"><span class="tag-color" style="background-color: #FF4BD8;"></span>HTML</a>
            </li>
            <li>
              <a href="#"><span class="tag-color" style="background-color: #00c4ff;"></span>Freebies</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
