<div class="container my-4">
  <div class="row d-flex justify-content-center">
    <div class="col-md-4">
      <div class="card">
        <h5 class="card-header"><i class="fa fa-user fa-fw"></i> About</h5>
        <div class="card-body">
          <ul class="list-unstyled">
            <li>
              <b><i class="fa fa-arrow-right fa-fw"></i> Maker:</b> <a href="https://github.com/me-io" target="_blank">me.io</a>
            </li>
            <li>
              <b><i class="fa fa-arrow-right fa-fw"></i> Name:</b> <a href="https://github.com/me-io/angular-2-starter" target="_blank">Angular Full Stack</a>
            </li>
            <li>
              <b><i class="fa fa-arrow-right fa-fw"></i> Tools & Technologies:</b>
            </li>
            <ul>
              <li><a href="https://www.mongodb.com" target="_blank">MongoDB</a></li>
              <li><a href="http://www.expressjs.com" target="_blank">Slim API</a></li>
              <li><a href="https://www.angular.io" target="_blank">Angular 7+</a></li>
              <li><a href="https://www.nodejs.org" target="_blank">Node.js</a></li>
              <li><a href="https://cli.angular.io" target="_blank">Angular CLI</a></li>
              <li><a href="http://www.getbootstrap.com" target="_blank">Bootstrap</a></li>
              <li><a href="http://www.fontawesome.io" target="_blank">Font Awesome</a></li>
              <li><a href="https://jwt.io" target="_blank">JSON Web Token</a></li>
              <li><a href="https://github.com/auth0/angular2-jwt" target="_blank">Angular 7 JWT</a></li>
              <li><a href="https://github.com/dcodeIO/bcrypt.js" target="_blank">Bcrypt.js</a></li>
            </ul>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
