<div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-account-sidebar></app-account-sidebar>
    </div>
    <div class="col-md-9">
      <div class="text-center">
        <app-loading [condition]="isLoading"></app-loading>
      </div>
      <app-toast [message]="toast.message"></app-toast>
      <div class="card" *ngIf="!isLoading">
        <div class="card">
          <h6 class="card-header">
            <i class="fa fa-lock fa-fw"></i> Change password
          </h6>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="old-password">Old password</label>
                <input type="password" class="form-control" id="old-password"/>
              </div>
              <div class="form-group">
                <label for="new-password">New password</label>
                <input type="password" class="form-control" id="new-password"/>
              </div>
              <div class="form-group">
                <label for="confirm-new-password">Confirm new password</label>
                <input type="password" class="form-control" id="confirm-new-password"/>
              </div>
              <button type="submit" class="btn btn-primary">Update password</button>
              <a href="#" class="ml-sm-3">I forgot my password</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
